body{
    text-align: center;
    justify-content: center;
    text-align: center !important;
    margin: 0px 20px 0px 20px!important;
}

#root > *::not(:nth-last-child(2)):not(:last-child) {
    height: 70vh;
    align-content: center;
}