body{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-align: center !important;
    margin: 0px 20px 0px 20px!important;
    height: 100vh;
}

#root{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
}
#root.Footer{
    align-self: flex-end;
}