
.container{
    display: flex;
    flex-direction: column;
    margin: 30px 10px 0 10px !important;
    border-radius: 15px;
    padding: 0 20px;
    background-color: #2e2e2e;
}
.albumContainer{
    display: flex;
    
}
.img{
    flex-direction: row;
    position: relative;
    bottom: 20px;
    border-radius: 20px;
}
.text{
    flex-direction: column;
    padding-left: 10px;
    padding-top: 20px;
    text-align: left;
    margin-left: 5px;
}
.releaseDate{
    font-size: 12px;
}
.message{
    font-size: 8px;
}
.btnBox{
    flex-direction: column;

}
.btn{
    display: flex;
    display: row;
    justify-content: center;
    background-color: #222222;
    border-radius: 75px;
}
.btn > li {
    text-decoration: none;
    list-style-type: none;
}

@media screen and (max-width: 1048px) {
    .title{
        display: flex;
        justify-content: left;
        padding-left: 20px;
    }
}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 456px) {}


