.container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.albumContainer{
    display: flex;
}
.img{
    flex-direction: row;
}
.text{
    flex-direction: column;
}
.btnBox{
    flex-direction: column;

}
.btn{
    display: flex;
    display: row;
    border: 1px solid black;
    justify-content: center;
}
.btn > li {
    text-decoration: none;
    list-style-type: none;
}
