.container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 15px;
    background-color: #2e2e2e;
    width: 100%;
    grid-column: span 2;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 35px;
}

.container form{
    justify-content: center;
    justify-content: center;
    text-align: center;
}

.container label, .container input{
    display: inline-flex;
    justify-content: center;
    text-align: center;
}
.container input {
    width: 50%;
    
}

.container form > *{
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    text-align: center;
}

.container button{
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 1048px) {

}

@media screen and (min-width: 768px) {
}
        
@media screen and (max-width: 456px) {
    .container{
        margin: auto 0 !important;
    }
}